# Generic
temp
*.log
.DS_Store

# Development
.vscode
.metals/
.idea/

# Tools
node_modules/
.sass-cache/

# Project
.version
.aws/templates/packaged-static-page.yaml
.aws/src/dist/
/website/build/
/components/build/
/stylesheets/dist/
/stylesheets/build/
/website-legacy/dist/
