@mixin caret() {
    font-family: $font-family-icon;
    color: $brand-primary;
    font-weight: 900;
    font-size: 0.65em;
    &:before {
      content: "\f078";
    }
  }

@mixin grade($size) {
  color: $brand-neutral-0;
  width: 90px * $size;
  height: 90px * $size;
  font-size: 50px * $size;
  line-height: 90px * $size;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
}
