@mixin caret() {
    font-family: 'FontAwesome';
    color: $brand-primary;

    &:before {
      content: "\f107";
    }
  }

@mixin grade($size) {
  color: $brand-neutral-0;
  width: 90px * $size;
  height: 90px * $size;
  font-size: 50px * $size;
  line-height: 90px * $size;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
}
