.alert {
  padding: 10px 40px;
  border-radius: 0px;
  position: relative;

  a {
    font-weight: $alert-link-font-weight;
    color: $brand-neutral-900;
    text-decoration: underline;
  }

  h4 + p:first-of-type {
    &:before {
      content: '';
      margin-right: 0;
    }
  }

  &.alert-dismissible { padding-right: 35px; }

  button.close {
    font-size: 14px;
    line-height: 24px;
    opacity: 1;
    text-shadow: none;
  }

  &.alert-global {
    padding: 10px;

    p {
      text-align: center;
    }
  }
}

// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

.alert-success {
  @include alert-variant($alert-success-bg, $alert-success-text);
}

.alert-info {
  @include alert-variant($alert-info-bg, $alert-info-text);
}

.alert-warning {
  @include alert-variant($alert-warning-bg, $alert-warning-text);
}

.alert-danger {
  @include alert-variant($alert-danger-bg, $alert-danger-text);
}

a.alert-clickable {
  @include general-type();
}

//== Alert style for hotspots
.alert-hotspot {
  border: 1px solid $brand-primary;
  padding: 10px;
  background-color: $brand-neutral-0;
  @include box-shadow(0 3px 2px rgba($brand-primary, .05));
  @include rounded();

  &:hover {
    background-color: rgba($brand-primary, .05);
    @include box-shadow(0 3px 3px rgba($brand-primary, .1));
    @include transition (all 0.2s ease-in-out);
  }

  p {
    line-height: 17px;
    margin-bottom: 5px;
  }

  &.alert-dismissible {
    .close {
      top: -15px;
      right: -15px;
      color: $brand-primary;
      background-color: $brand-neutral-200;
      font-size: 11px;
      opacity: 1;
      width: 18px;
      border-radius: 50%;
      height: 18px;
      text-shadow: 0 0;

      &::after {
        content: "\f00d";
        font-weight: 900;
        font-family: $font-family-icon;
      }

      &:hover {
        color: darken($brand-primary, 20%);
        @include box-shadow(0 3px 3px rgba($brand-primary, .1));
        @include translate(0, -2px);
        @include transition (all 0.2s ease-in-out);
      }
    }
  }
}

//== Alerts inline
.alert-inline {
  background-color: transparent;
  color: $gray;

  //== for each alert give an icon
  $alert-inline-icons: (
    alert-success '\f058' $brand-success,
    alert-info '\f05a' $brand-primary,
    alert-danger '\f057' $brand-danger,
    alert-warning '\f06a' $brand-warning
  );

  @each $alert, $icon, $color in $alert-inline-icons {
    &.#{$alert} {
      &:before {
        content: $icon;
        color: $color;
        font-family: $font-family-icon;
        font-weight: 900;
        margin-right: 5px;
        font-size: $font-lg;
        position: relative;
        top: 2px;
      }
    }
  }

  &.alert-inline-sm {
    font-size: $font-sm; 

    &:before {
      font-size: $font-normal;
      top: 1px;
    }
  }
}

//== for each alert darken the background color when .alert-clickable
$alerts: (
alert-info: $alert-info-bg,
alert-danger: $alert-danger-bg,
alert-warning: $alert-warning-bg,
alert-success: $alert-success-bg,
);

@each $alert, $color in $alerts {
  a.alert-clickable .#{$alert} {
    &:hover {
      background-color: darken($color, 5%);
      @include transition (all 0.2s ease-in-out);
      @include box-shadow(0px 4px 4px rgba($color, 0.3));
    }
  }
}

//== for each alert give an icon
$alert-icons: (
  alert-info '\f05a' $brand-primary,
  alert-danger '\f057' $brand-danger,
  alert-warning '\f06a' $brand-warning,
  alert-success '\f058' $brand-success
);

@each $alert, $icon, $color in $alert-icons {
  .#{$alert} {
    p:first-of-type:before {
      content: $icon;
      color: $color;
      font-family: $font-family-icon;
      font-weight: 900;
      font-size: $font-lg;
      position: absolute;
      top: 10px;
      left: 15px;
    }
  }
}

@each $alert, $icon, $color in $alert-icons {
  .#{$alert}.alert-global {
    p:first-of-type:before {
      position: relative;
      top: 2px;
      left: initial;
      margin-right: 10px;
    }
  }
}

//== Toast alerts need a div around .alert to provide a space from top
.alert-space { height: $margin-lg; }

.side-toast {
  padding: 13px 40px;
  position: fixed;
  right: 25px;
  bottom: 95px;
  z-index: 10000;
  background-color: $brand-neutral-0;
  border-left: 5px solid;
  border-radius: 3px;
  max-width: 400px;
  @include box-shadow (0px 1px 6px 1px rgba($brand-neutral-200, 0.8));

  &:before {
    font-family: $font-family-icon;
    font-weight: 900;
    font-size: 17px;
    position: absolute;
    left: 15px;
    top: 10px;
  }

  &.toast-success {
    border-color: $brand-success;

    &:before {
      content: "\f058";
      color: $brand-success;
    }
  }

  &.toast-danger {
    border-color: $brand-danger;

    &:before {
      content: "\f05c";
      color: $brand-danger;
    }
  }

  &.toast-info {

    &:before {
      content: "\f0eb";
      color: $brand-primary;
    }
  }

  &.toast-warning {

    &:before {
      content: "\f06a";
      color: $brand-warning;
    }
  }

  p {
    margin-bottom: 0;
  }

  .fa-times {
    position: absolute;
    right: 10px;
    top: 10px;
    color: $brand-neutral-400;
    cursor: pointer;
    font-size: 13px;
  }
}
