//
// Code (inline and block)
// --------------------------------------------------

pre {
  background-color: $code-bg;
  border-color: $brand-neutral-200;
}

//Code lines
.line-number {
  flex-basis: 0;
  flex-grow: 1;
  width: 42px;
  max-width: 42px;
  overflow-x: hidden;
  background-color: $brand-neutral-200;
  display: flex;
  justify-content: flex-end !important;
  padding-right: 4px;
  color: $brand-neutral-600;
  font-weight: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line-number span, .code-line {
  align-self: center;
}

pre.source-code {
  flex-basis: 0;
  flex-grow: 1;
  border: none;
  background-color: $brand-neutral-0;
  display: flex;
  overflow-x: hidden;
  border-radius: 0;
}

.code-duplicated {

  .line-number {
    background-color: $duplication-light;
  }

  .line-duplicated {

    .source-code {
      background-color: $duplication-lighter;
    }
  }
}

.code-issues {

  .source-code {
    background-color: $code-bg;
  }
}
