//
// List style
// --------------------------------------------------

.checklist {
  list-style: none;
  padding-left: 0;

  li {
    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &:before {
      @extend .text-success;
      content: "\f058";
      font-weight: 400;
      font-family: $font-family-icon;
      padding-right: 5px;
    }

    &.item-not-available {
      @extend .text-secondary;

      &:before {
        color: $brand-neutral-400;
        content: "\f057";
      }
    }
  }
}
