[data-toggle=popover] {
  cursor: pointer;

  &:not(.btn) {
    &:hover, &:active, &:focus  {
      color: $brand-primary;
    }
  }
}

.popover {
  border-color: $border-color;
  font-size: $font-sm;
  line-height: 16px;
  padding: 0 10px;
  max-width: 230px;
  box-shadow: 0 2px 3px transparentize($brand-primary, 0.8);

  .arrow {
    display: none;
  }

  &.popover-md {
    max-width: 360px;
  }

  &.popover-primary {
    border-color: $brand-primary;
    box-shadow: 0 2px 3px transparentize($brand-primary, 0.8);
  }
  
  &.popover-danger {
    border-color: $brand-danger;
    box-shadow: 0 2px 3px transparentize($brand-danger, 0.8);
  }
}

.popover-title {
  background-color: transparent;
  font-weight: bold;
  font-size: inherit;
}

.popover-content,
.popover-title { padding: 8px 0; }
