.color-container {
	height: 200px;
	width: 100%;
	border: 1px solid $brand-neutral-200;
	border-radius: 3px;
	margin-bottom: 40px;

	.color-container-tint {
		height: 100px;
		width: 100%;

		&.brand-neutral-900 { background-color: $brand-neutral-900; }

		&.brand-neutral-800 { background-color: $brand-neutral-800; }

		&.brand-neutral-700 { background-color: $brand-neutral-700; }

		&.brand-neutral-600 { background-color: $brand-neutral-600; }

		&.brand-neutral-500 { background-color: $brand-neutral-500; }

		&.brand-neutral-400 { background-color: $brand-neutral-400; }

		&.brand-neutral-300 { background-color: $brand-neutral-300; }

		&.brand-neutral-200 { background-color: $brand-neutral-200; }

		&.brand-neutral-100 { background-color: $brand-neutral-100; }

		&.brand-neutral-50 { background-color: $brand-neutral-50; }

		&.brand-neutral-0 { background-color: $brand-neutral-0; }

		&.primary { background-color: $brand-primary; }

		&.primary-light { background-color: $brand-primary-light; }

		&.primary-darker { background-color: $brand-primary-darker; }

		&.success { background-color: $brand-success; }

		&.success-light { background-color: $brand-success-light; }

		&.success-darker { background-color: $brand-success-darker; }

		&.danger-light { background-color: $brand-danger-light; }

		&.danger-darker { background-color: $brand-danger-darker; }

		&.danger { background-color: $brand-danger; }

		&.warning { background-color: $brand-warning; }

		&.warning-light { background-color: $brand-warning-light; }

		&.warning-darker { background-color: $brand-warning-darker; }
	}

	p { padding: 8px }
}

.side-menu { margin-top: 80px; }
